{% load static %}
<!DOCTYPE html>
<html>
	<head><title>8-4-4 Curriculum</title>
		<link rel="stylesheet" type="text/css" href="{% static 'eight.css' %}">
	</head>
	<body>
		<div class="eight-four-four-ad">
			<h3>8-4-4 Curriculum</h3>
			<p>This Curriculum emphasizes a broad-based learning approach, integrating academic, technical, and vocational skills to prepare students for both higher education and the job market. The system aims to foster practical skills alongside academic knowledge.</p>
			<div class="key-features">
				<ul>
					<li>Vocational Training: Emphasizes practical skills like agriculture, home science, and woodworking.</li>
					<li>Examinations: National exams (KCPE and KCSE) determine student progression.</li>
					<li>Subject Diversity: Offers a broad range of subjects, including sciences, humanities, and technical subjects.</li>
					<li>Self-Reliance Focus: Aims to equip students with skills for self-employment.</li>
					<li>Theoretical and Practical Balance: Integrates both academic and practical learning.</li>
				</ul>
			</div>
			<p>The 8-4-4 curriculum has shaped generations by providing a well-rounded education that equips learners with both academic knowledge and practical skills. Its goal is to nurture competent individuals ready to pursue further education or enter the workforce with confidence and versatility.</p>
			<a href="#" class="cta-button">Learn more</a>
		</div>
	</body>
</html>
