{% load static %}
<!DOCTYPE hmtl>
<html>
	<head> <title> Edexcel Curriculum </title>
		<link rel="stylesheet" type="text/css" href="{% static 'edexcel.css' %}">
	</head>
	<body>
		<div class="curriculum-ad">
			<h2> Edexcel Curriculum </h2>
			<p>The Edexcel curriculum is a globally recognized qualification...</p>	
			<div class="key-features">
				<h3>Key Features:</h3>
				<ul>
					<li>Internationally recognised qualifications</li>
					<li>Focus on real-world skills</li>
					<li>Pathway to higher Education</li>
				</ul>
			</div>
			<p>Edexcel offer 37 Subjects...</p>
			<a href="#" class="cta-button">Learn more</a>
		</div>
	</body>
</html>
