{% load static %}
<!DOCTYPE html>
<html>
	<head><title> IGCSE Curriculum</title>
		<link rel="stylesheet" type="text/css" href="{% static 'igcse.css' %}">
	</head>
	<body>
		<div class="igcse-ad">
			<h2>IGCSE Curriculum</h2>
			<p>This curriculum is designed to cater for international students age...</p>
			<div class="key-features">
				<ul>
					<li>Comprehensive range of subject</li>
					<li>Globally Accepted Qualifications</li>
					<li>Focus on critical thinking and problem solving</li>
				</ul>
			</div>
			<p>IGCSE exams are conducted twice a year, in June and November...</p>
			<a href="#" class="cta-button">Discover More</a>
		</div>
	</body>
</html>
